.search__div{
  
    height: 95vh;
    background-image: linear-gradient(to right bottom,rgba(22, 24, 26, 0.8),rgba(8, 10, 12, 0.2)),url(../img/hero.jpg);
    background-size: cover;
    position: relative;
    background-position: top;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
     filter: blur(5px);
}
.search{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
}
.search__title{
    color: white;
    text-align: center;
    
}
.search__btn{
    text-align: center;
    display: inline-block;
    width: 100%;
    background: linear-gradient(to right ,rgb(221, 221, 221,0.5),rgba(255, 255, 255, 0.80));
    color:black;
    font-weight: 600;
    transition: all 0.4s ease;
}
.search__btn:hover{

    background: linear-gradient(to right ,rgba(255, 255, 255, 0.80),rgb(221, 221, 221,0.5));
    color:white;
}
.search__btn:focus,.search__btn:active{
    outline:0 !important;
    outline:none;
}
.search__form{
    display: flex;
    flex-direction: column;
}
.search__title{
    padding: 2rem;
}